.container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1%;
}

.message {
  display: flex;
  flex-direction: column;
}

.messageText {
  background-color: #65799b;
  border-radius: 6px;
  max-width: 70%;
  word-break: break-word;
  padding: 0.5%;
}

.dateTime {
  color: #b6d5e1;
}
