.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.card {
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.progress_bar {
  align-self: center;
  padding-top: 2.5%;
  width: 95%;
}

.title {
  align-self: center;
  font-size: 22px;
}
