.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;
  border: 1px solid #212529;
}

.progress_bar {
  align-self: center;
  padding-top: 2.5%;
  width: 95%;
}

.title {
  align-self: center;
  font-size: 22px;
}
