.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.messages {
  height: 93.5%;
  overflow: auto;
  border-radius: 6px;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.header {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-bottom: 1%;
  width: 100%;
  padding: 1%;
  background-color: #524a79;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 7%;
}

.messageForm {
  padding: 0.5%;
  padding-bottom: 1%;
}

.chatName {
  width: 98%;
  display: flex;
  justify-content: center;
}

.deleteIcon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 2%;
}

.link {
  color: #74bbca;
  cursor: pointer;
}
