.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.submit_btn {
  align-self: center;
  margin-bottom: 1%;
}

.all_inputs {
  width: 80%;
  align-self: center;
}
