.questionContainer {
  height: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.answersContainer {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

h3 {
  margin: 0;
}

.buttonsGroup {
  display: flex;
  gap: 5px;
}

.addAnswerIcon,
.saveIcon,
.deleteIcon {
  cursor: pointer;
}

.editModal {
  height: 70vh;
  width: 30vw;
  border-radius: 15px;
  padding: 15px;
  background-color: rgba(var(--bs-dark-rgb));
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.exitIcon {
  align-self: flex-end;
  cursor: pointer;
}

.answer {
  display: flex;
  gap: 5px;
}

.editQuestion {
  display: flex;
  gap: 5px;
}

.questionInput {
  width: 95%;
}

.answerInput {
  width: 90%;
}

.addAnswerButton {
  display: flex;
  justify-content: center;
}

.title {
  align-self: center;
}
