.container {
  margin-top: 10vh;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.chatsList {
  width: 20%;
  max-height: 87vh;
  height: fit-content;
  background-color: rgba(var(--bs-dark-rgb));
  box-shadow: 7px 7px 5px #5f85db;
  border-radius: 6px;
  padding: 1%;
}

.chat {
  height: 98%;
  width: 75%;
  background-color: rgba(var(--bs-dark-rgb));
  box-shadow: 7px 7px 5px #5f85db;
  border-radius: 6px;
}
