.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10vh;
}

.card {
  width: 70%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #212529;
  overflow-y: auto;
  gap: 10px;
}

.deleteButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeImageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
