.container {
  height: 100%;
  width: 100%;
}

.imageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.imageUploadLabel {
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
}

.imageUploadLabel:hover {
  background-color: #f9f9f9;
}

.imageUploadInput {
  display: none;
}

.buttons {
  width: 32%;
  display: flex;
  justify-content: space-evenly;
}
