.questionContaine {
  list-style: none;
  height: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
}

h3 {
  margin: 0;
}

.buttonsGroup {
  display: flex;
  gap: 5px;
}

.saveIcon,
.deleteIcon {
  cursor: pointer;
}

.editModal {
  height: 70vh;
  width: 30vw;
  border-radius: 15px;
  padding: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.exitIcon {
  align-self: flex-end;
  cursor: pointer;
}
