.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.card {
  width: 40%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: rgba(var(--bs-dark-rgb));
  box-shadow: 7px 7px 5px #5f85db;
}

.title {
  font-size: 22px;
}

.link {
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}
