.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.card {
  width: 40%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 22px;
}

.link {
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}
