.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  height: 70vh;
}

.addAnswerButton,
.saveButton {
  align-self: center;
}

.addAnswerIcon {
  cursor: pointer;
}
