.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 70vh;
}

.addAnswerButton,
.saveButton {
  align-self: center;
}

.addAnswerIcon {
  cursor: pointer;
}

.questionInput,
.answerInput {
  padding-left: 5px;
}

.answerInput {
  width: 95%;
}

.answer {
  display: flex;
  gap: 5px;
}

.deleteIcon {
  cursor: pointer;
}
