body {
  background-color: #90b8f8;
  color: #e2eff1;
}

::-webkit-scrollbar {
  background: transparent;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #65799b;
  border-radius: 10px;
}
